/* Center the entire page content while keeping text left-aligned */
body {
    line-height: 1.4;
    font-size: 16px;
    padding: 0 10px;
    margin: 50px auto;
    max-width: 650px;
}

#maincontent {
    max-width: 42em;
}


/* Link styling */
a {
    color: #0000EE;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
